@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable text selection */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@keyframes press-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-press {
  animation: press-in 0.3s ease-out forwards;
}

.animate-pop {
  animation: pop-out 0.5s ease-out forwards;
}
